<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <h1 class="titulo mx-2">Gestión de usuarios</h1>
    </div>
  </div>
  <div class="tareasContainer m-4" *ngIf="!isLoading()">
    <div class="card mt-3 mx-lg-4 mx-xl-4" *ngFor="let user of users(); let i = index">
        <div class="card-body d-flex flex-wrap justify-content-between">
          <div>
            <span class="label-input100">Nombre</span>
            <input type="text" class="form-control label" placeholder="Nombre" [value]="user.name" readonly>
          </div>
          <div>
            <span class="label-input100">Email</span>
            <input type="text" class="form-control form" placeholder="Email" [value]="user.email" readonly>
          </div>
          <div class="button-group d-flex align-items-end mb-2  mx-2">
            <button class="btn btn-danger  mx-3" (click)="deleteUser(user._id)"><i
                class="fas fa-trash mx-1"></i></button>
          </div>
        </div>
    </div>
  </div>
  <shared-loadging-spiner class="d-flex align-items-center justify-content-center pt-5" *ngIf="isLoading()"></shared-loadging-spiner>
</div>
