<div class="text-center p-3 radius font-weight-bold">
  <mat-card class="shadow-sm radius">
    <mat-card-header>
      <mat-card-title>Pronostico semanal</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <div class="row m-3 dates mb-2" *ngIf="datelist">

        <mat-card class="mx-4 col-12 col-md-3 col-lg-3 mb-3 radius card" *ngFor="let date of datelist" >
          <div class="col">
              <div class="text-center p-3 radius font-weight-bold">
                <mat-card-title>{{ getDate(date.dt) === 'Hoy' ? 'Hoy' : (getDate(date.dt) | date: 'EEEE' | titlecase) }}</mat-card-title>
              </div>
              <div class="text-center p-3 radius font-weight-bold">
                <img class="icon" src="https://openweathermap.org/img/wn/{{date.weather[0].icon}}@2x.png" alt="">
              </div>
              <div class="text-center p-3 radius font-weight-bold">
                <p>{{date.temp.max | number: '1.0-0'}} °C Max</p>
                <p>{{date.temp.min | number: '1.0-0'}} °C Min</p>
              </div>
          </div>
        </mat-card>

      </div>

    </mat-card-content>
  </mat-card>
</div>
