.radius{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card{
  background-color: white !important;
}

.dates{
  overflow-x: scroll;
  display: flex;
  flex-flow: row nowrap;
}


.dates::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.dates::-webkit-scrollbar-track {
  background-color: rgba(57, 184, 216, 0.3)!important;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}


.dates::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.dates::-webkit-scrollbar-thumb:hover {
  background: #dadada;
}
