<div class="text-center p-3 radius mt-3 font-weight-bold">
  <mat-card class="shadow-sm radius h-28rem search">
    <mat-card-header>
      <mat-card-title>Actividades recomendadas</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-card-content>

        <div>

          <mat-card class="mb-2" *ngFor="let recomendation of recomendations">

            <mat-list role="list" >
              <mat-list-item  role="listitem">{{recomendation}}</mat-list-item>
            </mat-list>
          </mat-card>

        </div>

      </mat-card-content>

    </mat-card-content>
  </mat-card>
</div>
