<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4 mt-2 mb-5">
    <div class="col" *ngFor="let project of projects">
      <mat-card class="border border-black rounded-0 p-2 project">
        <mat-card-title class="card-title">{{project.name}}</mat-card-title>
        <mat-card-subtitle class="mb-2">{{project.description}}</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image [src]="project.img" class="card-img-top" alt="Project image">
        </mat-card-content>
        <mat-card-actions>
            <a [routerLink]="project.route" class="webBtn" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">Go Project</a>
            <!-- <a [href]="project.route" *ngIf="project.name === 'Taskify'"class="webBtn" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">Go Project</a> -->
        </mat-card-actions>
      </mat-card>
    </div>
</div>
