

<div class="modal fade" id="exampleModal" [hidden]="!flagSelected"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">.
        <h1 class="modal-title fs-5" id="exampleModalLabel">Información</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group" *ngIf="flagSelected">
          <li class="list-group-item">País: {{flagSelected.name.common}}</li>
          <li class="list-group-item">Capital: {{flagSelected.capital}}</li>
          <li class="list-group-item">Poblacion: {{flagSelected.population | number}} </li>
          <li class="list-group-item">Moneda: {{getCurrency().name}} - {{getCurrency().symbol}}</li>
          <li class="list-group-item">Idioma: <span *ngFor="let language of getLanguage()">{{language}}, </span> </li>
        </ul>
      </div>
      <div class="modal-footer" *ngIf="flagSelected">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" routerLink="/portfolio/projects/weather/{{flagSelected.capital}}">Ver Tiempo</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

