<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav fs-5 text" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="portfolio/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="portfolio/about">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="portfolio/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="portfolio/contact">Contact</a>
        </li>
      </ul>
        <div class="d-flex  align-items-center mt-2" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
          <a href="https://github.com/sergiiosanz10"><i class="fa-brands mx-2 icons fa-github text-white"></i></a>
          <a href="https://www.linkedin.com/in/sergiiosanz10/"><i class="fa-brands mx-2 icons fa-linkedin text-white"></i></a>
          <a href="https://www.instagram.com/sergiiosanz_10/"><i class="fa-brands mx-2 icons fa-instagram text-white"></i></a>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <a class="navbar-brand name" routerLink="portfolio/home" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">Sergio Sanz García</a>
    </div>


  </div>
</nav>
