body {
  background: #f5f5f5;
}

.login-form {
  background: #ffffff;
  box-shadow: 0px 14px 44px rgba(0, 0, 0, 0.07);
}

.login-form .form-control {
  height: 50px;
  font-size: 16px;
  color: #333333;
  padding-left: 20px;
}

.login-form .btn {
  font-size: 16px;
  font-weight: bold;
  height: 50px;
}

.btn_login{
  font-family: "Montserrat", sans-serif;
  border: 2px solid grey;
  padding: 10px;
  background-color: inherit;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.btn_login:hover{
  background-color: #212529;
  color: white;
}
