  <div class="container-fluid body">
  <div class="row justify-content-center align-items-start ">
    <div class="col-12 title text-light" id="header">
      <h1 id="title">TaskList</h1>
    </div>

    <div class="col-12">
      <app-add-task (onNewTask)="onNewTask($event)"></app-add-task>
    </div>

    <ng-container *ngIf="tasks.length > 0; else noTasksMessage">

      <div class="col-5 mx-5 " *ngFor="let type of taskTypes">
        <app-list [taskList]="tasks" [taskType]="type" (onCheck)="check($event)" (onModify)="modify($event, $event )"
          (onDelete)="onDeleteTask($event)"></app-list>
      </div>

    </ng-container>

  </div>
</div>


<ng-template #noTasksMessage>
  <div class="text-center mt-3 d-flex justify-content-center">
    <div class="alert alert-danger w-50 fs-5" role="alert" *ngIf="tasks.length == 0">
      No tienes tareas asignadas!
    </div>
  </div>
</ng-template>
