<div class="text-center p-3 radius ">
  <mat-card class="shadow-sm radius">
    <mat-card-header>
      <mat-card-title>Gráfico Semanal</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-card class="radius graphic m-3 p-2">
        <mat-card-content class="p-5 mx-5">
              <ngx-charts-line-chart
              [view]="view"
              [legend]="legend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [timeline]="timeline"
              [results]="multi"
                >
              </ngx-charts-line-chart>
        </mat-card-content>
      </mat-card>

    </mat-card-content>
  </mat-card>
</div>
