<div class="grid nested-grid justify-content-center" [ngClass]="weatherBg">
  <div class="col-8">
    <div class="grid">
      <div class="col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6">
        <wind-page></wind-page>
      </div>
      <div class="col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6">
        <temperature-page></temperature-page>
      </div>
      <div class="col-12">
        <weather-card [forecast]="forecast" [datelist]="datelist"></weather-card>
      </div>
    </div>
  </div>
  <div class="col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
    <search-page></search-page>
    <weather-recomendations></weather-recomendations>
  </div>
  <div class="col-10">
    <graphic-page *ngIf="forecast != undefined" [search]="forecast.list"></graphic-page>
  </div>
</div>
