icons{
  height: 50px;
}

.radius{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.clear {
  background-image: url('/src/assets/icons/despejado-min.jpeg');
  background-size: cover;
}

.clouds {
  background-image: url('/src/assets/icons/nublado-min.jpg');
  background-size: cover;
}

.rain{
  background-image: url('/src/assets/icons/lluvia-min.jpg');
  background-size: cover;
}

.snow{
  background-image: url('/src/assets/icons/nieve-min.jpg');
  background-size: cover;
}

.night{
  background-image: url('/src/assets/icons/noche-min.jpg');
  background-size: cover;
}

