<div class="text-start p-3 radius font-weight-bold">
  <mat-card class="shadow-sm radius">
    <mat-card-header>
      <mat-card-title>Viento</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="d-flex flex-column">
        <div class="d-flex align-items-center justify-content-start h-4rem font-weight-bold radius m-2">
          <img matCardImage src="../../../../assets/img/wind-min.png">
          <p class="mx-3">{{weather?.wind?.speed}} m/s</p>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
</div>

<div class="text-start p-3 pt-4 radius font-weight-bold">
  <mat-card class="shadow-sm radius">
    <mat-card-header>
      <mat-card-title>Nubes</mat-card-title>
    </mat-card-header>

    <mat-card-content class="mt-2">

      <div class="d-flex flex-column">
        <div class="d-flex align-items-center justify-content-start h-4rem font-weight-bold radius m-2">
            <img *ngIf="weather != undefined"  class="icon" src="https://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png" alt="">
          <p class="mx-3 mt-2">{{weather?.clouds?.all }} %</p>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
</div>
