<div class="container-fluid">

  <div class="row flex-container">
    <div class="col-6">
      <div class="p-2 mx-4 header">
        <div class="outlined-text">ABOUT</div>
        <div class="title m-5">SERGIO SANZ</div>
      </div>
      <hr class="mt-3">

      <div class="d-flex mt-5 mx-2 text-container" style="height: 190px;">
        <div class="vr border border-dark"></div>
        <div class="text mx-2">
          {{text}}
          <br><button type="button" class="aboutBtn mt-3" [routerLink]="['..', 'about']">Read More</button>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-5">
        <div class="skills">
          <img class="icons" src="assets/img/html.png" alt="html">
          <img class="icons" src="../../../../assets/img/css.png" alt="css">
          <img class="icons" src="../../../../assets/img/js.png" alt="js">
          <img class="icons" src="../../../../assets/img/ts.png" alt="ts">
          <img class="icons" src="../../../../assets/img/boots.png" alt="boots">
          <img class="icons" src="../../../../assets/img/angular.png" alt="angular">
          <img class="icons" src="../../../../assets/img/scss.png" alt="scss">
          <img class="icons" src="../../../../assets/img/php.png" alt="php">
          <img class="icons" src="../../../../assets/img/jquery.png" alt="jquery">
          <img class="icons" src="../../../../assets/img/node.png" alt="node">
          <img class="icons" src="../../../../assets/img/npm.png" alt="npm">
          <img class="icons" src="../../../../assets/img/react.png" alt="react">
        </div>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-end"><img class="imagen" src="../../../../assets/img/foto.png" alt=""></div>
  </div>
</div>
