#cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 100%;
  pointer-events: none;
  z-index: 10000;
  transition: transform ease-out 10ms;
}
#stalker {
  position: fixed;
  margin-top: -15px;
  margin-left: -15px;
  width: 40px;
  height: 40px;
  background-color: #000000;
  opacity: 30%;
  border-radius: 100%;
  pointer-events: none;
  transition: transform ease-out 100ms;
  z-index: 9999;
}
#cursor, #stalker {
  position: fixed;
  top: 0;
  left: 0;
}

#cursor {
  mix-blend-mode: difference;
}
@media (max-width: 900px) {
  #cursor, #stalker {
    display: none;
  }
}
