.radius{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.search{
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.delete{
  color: white;
  cursor: pointer;
}

.delete:hover{
  color: red;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

