.radius{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.search{
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
}

.search::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  display: none;
}

/* .search::-webkit-scrollbar-track {
  background-color: rgba(57, 184, 216, 0.3)!important;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}


.search::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.search::-webkit-scrollbar-thumb:hover {
  background: #dadada;
} */

.delete{
  color: white;
  cursor: pointer;
}

.delete:hover{
  color: red;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

