<div class="row mt-3 mb-5 justify-content-center  ">


  <div class="col-12 box task--alt ">

    <h4 class="h4" *ngIf="isAll">Tareas Asignadas</h4>
    <h4 class="h4" *ngIf="isPending">Tareas Pendientes</h4>
    <h4 class="h4" *ngIf="isCompleted">Tareas Completadas</h4>
    <h4 class="h4" *ngIf="isBlocked">Tareas Bloqueadas</h4>

    <div class="task" *ngFor="let task of taskList">

      <ng-container
        *ngIf=" isAll && !task.isBlocked || isCompleted && task.check && !task.isBlocked  || isPending && !task.check && !task.isBlocked ||  isBlocked && task.isBlocked">

        <!-- SI NO ESTA BLOQUEADA SE MUESTRA EL BOTON -->
        <input type="text" id="input" *ngIf="!isBlocked" [(ngModel)]="task.name"
          (change)="onModifyId(task.id, task.name)" [value]="task.name" />

        <!-- SI ESTA BLOQUEADA MUESTRA EL INPUT Y NO SE PUEDE MODIFICAR-->
        <input type="text" id="blocked" *ngIf="isBlocked" [value]="task.name" readonly />



        <!-- SI ESTA BLOQUEADA NO MUESTRA LOS BOTONES  -->
        <ng-container *ngIf="!isBlocked">

          <button (click)="onCheckId(task.id)" class="btn">
            <fa-icon *ngIf="task.check" [icon]="faCheck" class="btn  btn-outline-success"></fa-icon>
            <fa-icon *ngIf="!task.check" [icon]="faClock" class="btn  btn-outline-warning"></fa-icon>
          </button>
          <button class="btn btn-outline-danger fa-solid fa-x p-2 btnClearById" (click)="onDeleteId(task.id!)"></button>

        </ng-container>

        <!-- SI LA TAREA ESTA COMPLETADA NO MUESTRA EL BOTON DE BLOQUEAR -->
        <button (click)="onBlockId(task.id!)" class="btn" *ngIf="!isCompleted">
          <fa-icon *ngIf="task.isBlocked" [icon]="faLock" class="btn  btn-outline-success"></fa-icon>
          <fa-icon *ngIf="!task.isBlocked" [icon]="faLockOpen" class="btn  btn-outline-primary"></fa-icon>
        </button>

      </ng-container>


    </div>
    <button *ngIf="isAll" class="btn btn-outline-danger p-2 mt-4 clear" (click)="onDeleteAll()"><fa-icon
        [icon]="faTrashCan"></fa-icon></button>
    <button *ngIf="isCompleted" class="btn btn-outline-danger p-2 mt-4 clear" (click)="onDeleteCompleted()"><fa-icon
        [icon]="faTrashCan"></fa-icon></button>
    <button *ngIf="isPending" class="btn btn-outline-danger p-2 mt-4 clear" (click)="onDeletePending()"><fa-icon
        [icon]="faTrashCan"></fa-icon></button>
    <button *ngIf="isBlocked" class="btn btn-outline-danger p-2 mt-4 clear" (click)="onDeleteBlocked()"><fa-icon
        [icon]="faTrashCan"></fa-icon></button>

  </div>



</div>
