@use '@angular/material' as mat;
@include mat.core();

$black: (
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

$Portfolio-primary: mat.define-palette($black);
$Portfolio-accent: mat.define-palette($black, A200, A100, A400);
$Portfolio-warn: mat.define-palette($black);

$Portfolio-theme: mat.define-light-theme((
  color: (
    primary: $Portfolio-primary,
    accent: $Portfolio-accent,
    warn: $Portfolio-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($Portfolio-theme);

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  overflow-x: hidden;
  margin: 0 ;
  padding: 0 auto;
  cursor: none !important;
}

body::-webkit-scrollbar {
  display: none;
}
a{
  text-decoration: none;
  color: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

mat-card{
  background: rgba( 255, 255, 255, 0.25 ) !important;
  backdrop-filter: blur( 4px ) !important;
  -webkit-backdrop-filter: blur( 4px ) !important;
  border-radius: 10px !important;
  border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

