@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
*{
  overflow-x: hidden;
  margin: 0 ;
  padding: 0 auto;
  cursor: none !important;
}

*::-webkit-scrollbar {
  display: none;
}
a{
  text-decoration: none;
  color: inherit;
}
