@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
  font-family: "Indie Flower", cursive;
}

#header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #3A3F55;
}

#title{
  font-family: "Indie Flower", cursive;
  margin-bottom: 0;
  overflow: hidden;
}

@media (max-width: 1151px) {
  .col-4 {
    flex: 0 0 90%;
    margin-bottom: 35px;
    max-width: 100%;
  }
}

.body{
  background-color: #2D3142;
  min-height: 100vh;
}

