.header {
  position: relative;
  overflow: hidden;
  .title {
    font-family: "Anton", sans-serif;
    font-size: 3em;
    z-index: 2;
    color: black;
  }

  .outlined-text {
    font-size: 150px;
    width: auto;
    -webkit-text-stroke: 1px black;
    color: transparent;
    position: absolute;
    z-index: 1;
  }
}

@media (max-width: 633px) {
  .header {
    .title {
      font-size: 2em;
    }

    .outlined-text {
      font-size: 100px;
    }
  }
  .text-container {
    height: auto !important;
  }
}
