<div class="container-fluid" [ngClass]="weatherBg">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="row">
        <div class="col-12 col-md-6">
          <wind-page></wind-page>
        </div>
        <div class="col-12 col-md-6">
          <temperature-page></temperature-page>
        </div>
        <div class="col-12">
          <weather-card [forecast]="forecast" [datelist]="datelist"></weather-card>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <search-page></search-page>
      <weather-recomendations></weather-recomendations>
    </div>
    <div class="col-10">
      <graphic-page *ngIf="forecast != undefined" [search]="forecast.list"></graphic-page>
    </div>
  </div>
</div>
