img{
  height: 50px;
}

.radius{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}


.clear {
  background-image: url('../../../../assets/img/despejado-min.webp');
  background-size: cover;
}

.clouds {
  background-image: url('../../../../assets/img/nublado-min.webp');
  background-size: cover;
}

.rain{
  background-image: url('../../../../assets/img/lluvia-min.webp');
  background-size: cover;
}

.snow{
  background-image: url('../../../../assets/img/nieve-min.webp');
  background-size: cover;
}

.night{
  background-image: url('../../../../assets/img/noche-min.webp');
  background-size: cover;
}

