.webBtn{
  border: 2px solid grey;
  padding: 10px;
  background-color: inherit;
}

.webBtn:hover{
  background-color: #212529;
  color: white;
}

.project{
  height: 425px;
}
a{
  position: absolute;
  margin-bottom: 20px;
  bottom: 0;
}

