<div class="container">
  <!-- TODO: Carousel -->
  <div class="row row-cols-1 row-cols-md-2 g-4 mt-2 mb-5">
    <div class="col">
      <div class="card">
        <img src="../../../../assets/img/weather.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Weather App</h5>
          <p class="card-text">This is an app to check the weather of cities.</p>
          <a href="https://weatherprime.netlify.app/" class="webBtn" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">Go web</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../assets/img/country.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Country App</h5>
          <p class="card-text">This is an app to search for capitals</p>
          <a href="https://geoguideapp.netlify.app/" class="webBtn" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">Go web</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../assets/img/task.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TaskList</h5>
          <p class="card-text">This is an application to organize tasks.</p>
          <a href="https://taskeaseapp.netlify.app/" class="webBtn" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">Go web</a>
        </div>
      </div>
    </div>
  </div>
</div>
